<div class="realizar-pagamento-container mat-elevation-z4">
    <mat-card class="payment-card">
      <mat-card-header>
        <mat-card-title>Realizar Pagamento</mat-card-title>
      </mat-card-header>
  
      <mat-card-content *ngIf="currentStep === 1">
  
        <div class="itens-carrinho">
          <h3>Itens no Carrinho</h3>
          <ul>
            <li *ngFor="let item of itensCarrinho">
              {{ item.nome }} - {{ item.subTotal | currency : "BRL" : "symbol" : "1.2-2" }}
            </li>
          </ul>
        </div>
  
        <div class="botoes-container">
          <button mat-raised-button color="primary" (click)="avancar()">Avançar</button>
        </div>
      </mat-card-content>
  
      <mat-card-content *ngIf="currentStep === 2">
        <h2>Escolha o Método de Pagamento</h2>
        <mat-radio-group [(ngModel)]="metodoPagamento">
          <mat-radio-button value="boleto">Boleto</mat-radio-button>
          <mat-radio-button value="pix">Pix</mat-radio-button>
        </mat-radio-group>
      
        <div class="botoes-container">
          <button mat-raised-button color="accent" (click)="voltar()">Voltar</button>
          <button mat-raised-button color="primary" (click)="avancar()">Avançar</button>
        </div>
      </mat-card-content>
  
      <mat-card-content *ngIf="currentStep === 3">
        <h2>Resumo do Pedido</h2>
        <p><strong>Total do Pedido:</strong>{{ totalPedido | currency : "BRL" : "symbol" : "1.2-2" }}</p>
  
        <div class="metodo-pagamento">
          <mat-radio-group [(ngModel)]="metodoPagamento">
            <mat-radio-button value="boleto">Boleto</mat-radio-button>
            <mat-radio-button value="pix">Pix</mat-radio-button>
          </mat-radio-group>
        </div>
  
        <div class="botoes-container">
          <button mat-raised-button color="accent" (click)="voltar()">Voltar</button>
          <button mat-raised-button color="primary" (click)="realizarPagamento()">Realizar Pagamento</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>