.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  }
  
  .login-box {
    background: rgb(37, 37, 37);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
  }

  .login-title {
    font-size: 24px;
    margin: 10px 0;
    color: #f0f0f0;
  }
  
  .login-input {
    width: 100%;
    margin: 10px 0;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
    background: #2AF598;
    color: #fff;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #009EFD;
  }
  