<mat-toolbar color="primary" class="toolbar-title">Cadastro de Cliente</mat-toolbar>

<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                        <!-- Erros do front-end -->
                        {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

                        <!-- Erros do back-end -->
                        <span *ngIf="formGroup.get('nome')?.hasError('apiError')">
                            {{formGroup.get('nome')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" (blur)="formatCpf()">
                    <mat-error *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched">
                        {{getErrorMessage('cpf', formGroup.get('cpf')?.errors)}}
                        <span *ngIf="formGroup.get('cpf')?.hasError('apiError')">
                            {{formGroup.get('cpf')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                        {{getErrorMessage('email', formGroup.get('email')?.errors)}}
                        <span *ngIf="formGroup.get('email')?.hasError('apiError')">
                            {{formGroup.get('email')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Número Registro Posse Porte</mat-label>
                    <input matInput type="text" formControlName="registro">
                    <mat-error *ngIf="formGroup.get('registro')?.invalid && formGroup.get('registro')?.touched">
                        {{getErrorMessage('registro', formGroup.get('registro')?.errors)}}
                        <span *ngIf="formGroup.get('registro')?.hasError('apiError')">
                            {{formGroup.get('registro')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>

                <!-- Telefones 
                <div formArrayName="telefones">
                    <div *ngFor="let telefone of telefones let i = index" [formGroupName]="i"
                        class="form-array-item">

                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Telefone {{ i + 1 }}</mat-label>
                            <input matInput type="text" formControlName="telefone" placeholder="(00) 00000-0000">
                            <mat-error *ngIf="telefone.invalid && telefone.touched">
                                {{ getErrorMessage('telefone', telefone.errors) }}
                                <span *ngIf="telefone.hasError('apiError')">
                                    {{ telefone.getError('apiError') }}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    -->
                        <!-- Botão de remover telefone 
                        <button mat-icon-button color="warn" (click)="removeTelefone(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    Botão de adicionar telefone 
                    <button mat-raised-button color="primary" (click)="addTelefone()">Adicionar Telefone</button>
                </div>
                -->
                <!-- Endereços -->
                <div formArrayName="enderecos" class="enderecos-container">
                    <div *ngFor="let endereco of enderecos " class="endereco-group">
                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="nome">
                            <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('nome')?.hasError('apiError')) {
                                <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Logradouro</mat-label>
                            <input matInput type="text" formControlName="logradouro">
                            <mat-error
                                *ngIf="formGroup.get('logradouro')?.invalid && formGroup.get('logradouro')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('logradouro', formGroup.get('logradouro')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('logradouro')?.hasError('apiError')) {
                                <span>{{formGroup.get('logradouro')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="half-width-input">
                            <mat-label>Número</mat-label>
                            <input matInput type="text" formControlName="numero">
                            <mat-error *ngIf="formGroup.get('numero')?.invalid && formGroup.get('numero')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('numero', formGroup.get('numero')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('numero')?.hasError('apiError')) {
                                <span>{{formGroup.get('numero')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="half-width-input">
                            <mat-label>Complemento</mat-label>
                            <input matInput type="text" formControlName="complemento">
                            <mat-error
                                *ngIf="formGroup.get('complemento')?.invalid && formGroup.get('complemento')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('complemento', formGroup.get('complemento')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('complemento')?.hasError('apiError')) {
                                <span>{{formGroup.get('complemento')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Bairro</mat-label>
                            <input matInput type="text" formControlName="bairro">
                            <mat-error *ngIf="formGroup.get('bairro')?.invalid && formGroup.get('bairro')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('bairro', formGroup.get('bairro')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('bairro')?.hasError('apiError')) {
                                <span>{{formGroup.get('bairro')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="half-width-input">
                            <mat-label>CEP</mat-label>
                            <input matInput type="text" formControlName="cep">
                            <mat-error *ngIf="formGroup.get('cep')?.invalid && formGroup.get('cep')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('cep', formGroup.get('cep')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('cep')?.hasError('apiError')) {
                                <span>{{formGroup.get('cep')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="half-width-input">
                            <mat-label>Cidade</mat-label>
                            <input matInput type="text" formControlName="cidade">
                            <mat-error *ngIf="formGroup.get('cidade')?.invalid && formGroup.get('cidade')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('cidade', formGroup.get('cidade')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('cidade')?.hasError('apiError')) {
                                <span>{{formGroup.get('cidade')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="half-width-input">
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" formControlName="estado">
                            <mat-error *ngIf="formGroup.get('estado')?.invalid && formGroup.get('estado')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('estado', formGroup.get('estado')?.errors)}}

                                <!-- erros do back-end -->
                                @if(formGroup.get('estado')?.hasError('apiError')) {
                                <span>{{formGroup.get('estado')?.getError('apiError')}}</span>
                                }
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" (click)="addEndereco()">Adicionar Endereço</button>
                </div>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Login</mat-label>
                    <input matInput type="text" formControlName="login">
                    <mat-error *ngIf="formGroup.get('login')?.invalid && formGroup.get('login')?.touched">
                        {{getErrorMessage('login', formGroup.get('login')?.errors)}}
                        <span *ngIf="formGroup.get('login')?.hasError('apiError')">
                            {{formGroup.get('login')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha">
                    <mat-error *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
                        {{getErrorMessage('senha', formGroup.get('senha')?.errors)}}
                        <span *ngIf="formGroup.get('senha')?.hasError('apiError')">
                            {{formGroup.get('senha')?.getError('apiError')}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions class="actions">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>