<mat-toolbar color="primary" class="toolbar-title">Cadastro de Cliente</mat-toolbar>

<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('nome')?.hasError('apiError')) {
                            <span>{{formGroup.get('nome')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf">
                    <mat-error *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('cpf', formGroup.get('cpf')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('cpf')?.hasError('apiError')) {
                            <span>{{formGroup.get('cpf')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('email', formGroup.get('email')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('email')?.hasError('apiError')) {
                            <span>{{formGroup.get('email')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Número Registro Posse Porte</mat-label>
                    <input matInput type="text" formControlName="registro">
                    <mat-error *ngIf="formGroup.get('registro')?.invalid && formGroup.get('registro')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('registro', formGroup.get('registro')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('registro')?.hasError('apiError')) {
                            <span>{{formGroup.get('registro')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>

                <!-- Telefones -->
                <div formArrayName="telefones">
                    <div *ngFor="let telefone of telefones.controls; let i = index" class="form-array-item">
                        <mat-form-field appearance="fill" class="full-width-input">
                            <mat-label>Telefone {{ i + 1 }}</mat-label>
                            <input matInput type="text" [formControlName]="i">
                            <mat-error *ngIf="formGroup.get('telefone')?.invalid && formGroup.get('telefone')?.touched">
                                <!-- erros do front-end -->
                                {{getErrorMessage('telefone', formGroup.get('telefone')?.errors)}}
        
                                <!-- erros do back-end -->
                                @if(formGroup.get('logtelefonein')?.hasError('apiError')) {
                                    <span>{{formGroup.get('telefone')?.getError('apiError')}}</span> 
                                }
                            </mat-error>
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removerTelefone(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <button mat-raised-button color="primary" (click)="adicionarTelefone()">Adicionar Telefone</button>
                </div>

                <!-- Endereços -->
                <div formArrayName="enderecos" class="enderecos-container">
                    <div *ngFor="let endereco of enderecosArray.controls; let i = index" [formGroupName]="i"
                        class="endereco-group">
                        <mat-card class="endereco-card">
                            <mat-card-title>Endereço {{ i + 1 }}</mat-card-title>
                            <mat-card-content>
                                <mat-form-field appearance="fill" class="full-width-input">
                                    <mat-label>Nome</mat-label>
                                    <input matInput type="text" formControlName="nome">
                                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('nome')?.hasError('apiError')) {
                                            <span>{{formGroup.get('nome')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="full-width-input">
                                    <mat-label>Logradouro</mat-label>
                                    <input matInput type="text" formControlName="logradouro">
                                    <mat-error *ngIf="formGroup.get('logradouro')?.invalid && formGroup.get('logradouro')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('logradouro', formGroup.get('logradouro')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('logradouro')?.hasError('apiError')) {
                                            <span>{{formGroup.get('logradouro')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="half-width-input">
                                    <mat-label>Número</mat-label>
                                    <input matInput type="text" formControlName="numero">
                                    <mat-error *ngIf="formGroup.get('numero')?.invalid && formGroup.get('numero')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('numero', formGroup.get('numero')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('numero')?.hasError('apiError')) {
                                            <span>{{formGroup.get('numero')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="half-width-input">
                                    <mat-label>Complemento</mat-label>
                                    <input matInput type="text" formControlName="complemento">
                                    <mat-error *ngIf="formGroup.get('complemento')?.invalid && formGroup.get('complemento')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('complemento', formGroup.get('complemento')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('complemento')?.hasError('apiError')) {
                                            <span>{{formGroup.get('complemento')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="full-width-input">
                                    <mat-label>Bairro</mat-label>
                                    <input matInput type="text" formControlName="bairro">
                                    <mat-error *ngIf="formGroup.get('bairro')?.invalid && formGroup.get('bairro')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('bairro', formGroup.get('bairro')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('bairro')?.hasError('apiError')) {
                                            <span>{{formGroup.get('bairro')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="half-width-input">
                                    <mat-label>CEP</mat-label>
                                    <input matInput type="text" formControlName="cep">
                                    <mat-error *ngIf="formGroup.get('cep')?.invalid && formGroup.get('cep')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('cep', formGroup.get('cep')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('cep')?.hasError('apiError')) {
                                            <span>{{formGroup.get('cep')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="half-width-input">
                                    <mat-label>Cidade</mat-label>
                                    <input matInput type="text" formControlName="cidade">
                                    <mat-error *ngIf="formGroup.get('cidade')?.invalid && formGroup.get('cidade')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('cidade', formGroup.get('cidade')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('cidade')?.hasError('apiError')) {
                                            <span>{{formGroup.get('cidade')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="half-width-input">
                                    <mat-label>Estado</mat-label>
                                    <input matInput type="text" formControlName="estado">
                                    <mat-error *ngIf="formGroup.get('estado')?.invalid && formGroup.get('estado')?.touched">
                                        <!-- erros do front-end -->
                                        {{getErrorMessage('estado', formGroup.get('estado')?.errors)}}
                
                                        <!-- erros do back-end -->
                                        @if(formGroup.get('estado')?.hasError('apiError')) {
                                            <span>{{formGroup.get('estado')?.getError('apiError')}}</span> 
                                        }
                                    </mat-error>
                                </mat-form-field>
                            </mat-card-content>
                            <button mat-icon-button color="warn" (click)="removerEndereco(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card>
                    </div>
                    <button mat-raised-button color="primary" (click)="adicionarEndereco()">Adicionar Endereço</button>
                </div>
                
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Login</mat-label>
                    <input matInput type="text" formControlName="login">
                    <mat-error *ngIf="formGroup.get('login')?.invalid && formGroup.get('login')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('login', formGroup.get('login')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('login')?.hasError('apiError')) {
                            <span>{{formGroup.get('login')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha">
                    <mat-error *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('senha', formGroup.get('senha')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('senha')?.hasError('apiError')) {
                            <span>{{formGroup.get('senha')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions class="actions">
            <button mat-raised-button routerLink="../">
                Cancelar
            </button>

            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>

            <button mat-raised-button color="primary" (click)="salvar()">
                Salvar
            </button>
        </mat-card-actions>
    </mat-card>
</div>