/* Garantir que a página ocupe toda a altura da tela */
html, body {
    flex: 1;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Header fixo no topo */
app-header {
    flex-shrink: 0; /* Não permite que o header diminua */
}

/* Conteúdo dinâmico ocupa o espaço restante */
router-outlet {
    flex: 1; /* O conteúdo entre o header e footer ocupa o espaço disponível */
    display: block; /* Garante que seja tratado como um elemento de bloco */
}

/* Footer fixo no rodapé */
app-footer {
    flex-shrink: 0; /* Não permite que o footer diminua */
    background-color: #1e1e1e;
    color: #cccccc;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
}