img {
    width: 100%;
    height: 240px;
    background-color: white;
    /* Define o fundo branco */
    object-fit: contain;
    /* Faz com que a imagem se ajuste mantendo a proporção */
    border: 1px solid #000000;
    /* Opcional: Adiciona uma borda para destaque */
    padding: 5px;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.carrinho-button {
    position: absolute;
    right: 5%;
    border: 3px;
    border-color: black;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    position: absolute;
    left: 5%;
    border: 3px;
    border-color: black;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-icon {
    color: rgb(255, 255, 255);
    /* Cor do ícone */
    font-size: 24px;
}

.container {
    padding: 20px;
    background-color: dimgray;
    position: relative; /* Adicione isso */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.input-field {
    flex: 1;
}

.search-button {
    transition: transform 0.2s;
}

.search-button:hover {
    transform: scale(1.1);
}

.responsive-grid {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

/* Barra de pesquisa personalizada */
.custom-searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    padding: 4px 16px;
    position: relative;
    margin: 0 auto;
    /* Centraliza no container */
}

.custom-searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    flex: 1;
    padding: 8px;
}

.custom-searchButton {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.custom-searchButton:hover {
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 16px;
    transform: translateY(-2px);
}

.custom-searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Paginador */
mat-paginator {
    display: flex;
    justify-content: center;
}

mat-paginator .mat-paginator-range-label {
    font-size: 14px;
    color: #333;
}