<div class="container">
    <div class="input-container">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Pesquisar pelo Nome </mat-label>
            <input [(ngModel)]="filtro" matInput placeholder="Ex: Glock" #input (keyup.enter)="filtrar()">
        </mat-form-field>
        <button mat-icon-button color="primary" class="search-button" (click)="filtrar()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">
        
        <img mat-card-image [src]="card.imageUrl" />
        
        <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>

        <mat-card-content class="centered-text">
            {{card.tipo}}
        </mat-card-content>
        <br/>
        <mat-card-content class="centered-text">
            R$ {{card.preco}},00
        </mat-card-content>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary">Ver Mais ...</button>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-button 
                (click)="adicionarAoCarrinho(card)"
                color="accent"
                style="width: 100%; padding: 16px;">
                Adicionar ao Carrinho
            </button>
        </mat-card-footer>
        
    </mat-card>
</div>

<mat-paginator [pageSizeOptions]="[10,20,30,50]" [pageSize]="pageSize" [length]="totalRecords" (page)="paginar($event)">
</mat-paginator>