<div class="form-container">
    <mat-card>
        <mat-card-content>
            <!-- Formulário principal -->
            <form [formGroup]="formGroup" (ngSubmit)="salvar()">
                <!-- Stepper com associação correta aos FormGroups -->
                <mat-horizontal-stepper [linear]="true">
                    <!-- Etapa 1: Dados Pessoais -->
                    <mat-step [stepControl]="formGroup.get('firstFormGroup')!">
                        <ng-template matStepLabel>Dados Pessoais</ng-template>
                        <div [formGroupName]="'firstFormGroup'">
                            <!-- Nome -->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nome" />
                                <mat-error
                                    *ngIf="formGroup.get('firstFormGroup')?.get('nome')?.invalid && formGroup.get('firstFormGroup')?.get('nome')?.touched">
                                    {{ getErrorMessage('nome', formGroup.get('firstFormGroup')?.get('nome')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- CPF -->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>CPF</mat-label>
                                <input matInput formControlName="cpf" placeholder="000.000.000-00"
                                    (input)="formatCpf()" />
                                <mat-error *ngIf="formGroup.get('firstFormGroup')?.get('cpf')?.invalid">
                                    {{ getErrorMessage('cpf', formGroup.get('firstFormGroup')?.get('cpf')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Email -->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" />
                                <mat-error
                                    *ngIf="formGroup.get('firstFormGroup')?.get('email')?.invalid && formGroup.get('firstFormGroup')?.get('email')?.touched">
                                    {{ getErrorMessage('email', formGroup.get('firstFormGroup')?.get('email')?.errors)
                                    }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Registro -->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Registro</mat-label>
                                <input matInput formControlName="registro" />
                                <mat-error *ngIf="formGroup.get('firstFormGroup')?.get('registro')?.invalid">
                                    {{ getErrorMessage('registro',
                                    formGroup.get('firstFormGroup')?.get('registro')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Telefone -->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Telefone</mat-label>
                                <input matInput formControlName="telefone" placeholder="(99) 99999-9999"
                                    (input)="formatTelefone()" />
                                <mat-error
                                    *ngIf="formGroup.get('firstFormGroup')?.get('telefone')?.invalid && formGroup.get('firstFormGroup')?.get('telefone')?.touched">
                                    {{ getErrorMessage('telefone',
                                    formGroup.get('firstFormGroup')?.get('telefone')?.errors) }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="step-buttons">
                            <button mat-button matStepperNext>Próximo</button>
                        </div>
                    </mat-step>

                    <!-- Etapa 2: Endereço -->
                    <mat-step [stepControl]="formGroup.get('secondFormGroup')!">
                        <ng-template matStepLabel>Endereço</ng-template>
                        <div [formGroupName]="'secondFormGroup'">
                            
                            <!--Cep-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>CEP</mat-label>
                                <input matInput formControlName="enderecoCep" (blur)="preencherEnderecoPeloCep()"/>
                                <mat-error *ngIf="formGroup.get('enderecoCep')?.get('enderecoCep')?.invalid">
                                    {{ getErrorMessage('enderecoCep',
                                    formGroup.get('secondFormGroup')?.get('enderecoCep')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Nome-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="enderecoNome" />
                                <mat-error *ngIf="formGroup.get('secondFormGroup')?.get('enderecoNome')?.invalid">
                                    {{ getErrorMessage('enderecoNome',
                                    formGroup.get('secondFormGroup')?.get('enderecoNome')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Logradouro-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Logradouro</mat-label>
                                <input matInput formControlName="enderecoLogradouro" />
                                <mat-error *ngIf="formGroup.get('secondFormGroup')?.get('enderecoLogradouro')?.invalid">
                                    {{ getErrorMessage('enderecoLogradouro',
                                    formGroup.get('secondFormGroup')?.get('enderecoLogradouro')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!--Bairro-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Bairro</mat-label>
                                <input matInput formControlName="enderecoBairro" />
                                <mat-error *ngIf="formGroup.get('enderecoBairro')?.get('enderecoBairro')?.invalid">
                                    {{ getErrorMessage('enderecoBairro',
                                    formGroup.get('secondFormGroup')?.get('enderecoBairro')?.errors) }}
                                </mat-error>
                            </mat-form-field>
                            
                            <!--Numero-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Número</mat-label>
                                <input matInput formControlName="enderecoNumero" />
                                <mat-error *ngIf="formGroup.get('enderecoNumero')?.get('enderecoNumero')?.invalid">
                                    {{ getErrorMessage('enderecoLogradouro',
                                    formGroup.get('secondFormGroup')?.get('enderecoNumero')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!-- Complemento-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Complemento</mat-label>
                                <input matInput formControlName="enderecoComplemento" />
                                <mat-error *ngIf="formGroup.get('secondFormGroup')?.get('enderecoComplemento')?.invalid">
                                    {{ getErrorMessage('enderecoComplemento',
                                    formGroup.get('secondFormGroup')?.get('enderecoComplemento')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!--Cidade-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Cidade</mat-label>
                                <input matInput formControlName="enderecoCidade" />
                                <mat-error *ngIf="formGroup.get('enderecoCidade')?.get('enderecoCidade')?.invalid">
                                    {{ getErrorMessage('enderecoCidade',
                                    formGroup.get('secondFormGroup')?.get('enderecoCidade')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                            <!--Estado-->
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Estado</mat-label>
                                <input matInput formControlName="enderecoEstado" />
                                <mat-error *ngIf="formGroup.get('enderecoEstado')?.get('enderecoEstado')?.invalid">
                                    {{ getErrorMessage('enderecoEstado',
                                    formGroup.get('secondFormGroup')?.get('enderecoEstado')?.errors) }}
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="step-buttons">
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button matStepperNext>Próximo</button>
                        </div>
                    </mat-step>

                    <!-- Etapa 3: Login -->
                    <mat-step [stepControl]="formGroup.get('thirdFormGroup')!">
                        <ng-template matStepLabel>Login</ng-template>
                        <div [formGroupName]="'thirdFormGroup'">
                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Login</mat-label>
                                <input matInput formControlName="login" />
                                <mat-error *ngIf="formGroup.get('thirdFormGroup')?.get('login')?.invalid">
                                    {{ getErrorMessage('login', formGroup.get('thirdFormGroup')?.get('login')?.errors)
                                    }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="full-width-input">
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="senha" type="password" />
                                <mat-error *ngIf="formGroup.get('thirdFormGroup')?.get('senha')?.invalid">
                                    {{ getErrorMessage('senha', formGroup.get('thirdFormGroup')?.get('senha')?.errors)
                                    }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="step-buttons">
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button type="submit">Salvar</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </mat-card-content>
    </mat-card>
</div>