/* Garante que o contêiner tenha o tamanho total da tela */
.sidebar-dark-theme {
    height: 100vh;
    /* Altura total da tela */
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo verticalmente */
}

/* Sidebar sempre do tamanho da tela */
.sidebar-dark-theme mat-drawer {
    height: 100%;
    width: 250px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal ajustado */
mat-drawer-content {
    height: 100vh;
    /* Garante que o conteúdo também preencha a tela */
    overflow-y: auto;
    /* Permite rolagem caso o conteúdo seja maior que a tela */
    background-color: #fff;
    /* Fundo claro para contraste */
    color: #000;
    /* Texto escuro */
}